<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' th:href="@{/style.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/images/kep.png">

</head>
<body>
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="/">
                    <h1><span>Bank</span>.</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul class="nav">
                    <div class="underline">
                        <li><a sec:authorize="isAuthenticated" href="/utalasok" data-after="Projects">Számlatörténet</a></li>
                        <li><a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/bankinsert" data-after="Projects">Bank hozzáadás</a></li>
                        <li><a href="/bank" data-after="Projects">Számlám</a></li>
                        <li><a href="/utalas" data-after="Projects">Utalás</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Kijelentkezés</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <p th:text="${feltoltes_success}" class="edit_success"></p>
    <p th:text="${feltoltes_fail}" class="edit_fail"></p>
</section>
<section id="hero">
    <div class="utalas-div">
        <p class="login-title">Pénz feltöltés saját számlára:</p>
        <form th:action="@{/penzfeltoltes}" method="post"><br>
            <label class="utalas-text">Jelenlegi egyenleg:<p class="padding"></p>
                <td><p class="egyenleg" th:text="${szamla.egyenleg}+' Ft'" ></p></td>
            </label><br>
            <label class="utalas-text">Összeg:<p class="padding"></p>
                <input class="termek-insert-box" type="number" min="1" name="osszeg" placeholder="10000 Ft" id="osszeg"></input>
            </label><br>
            <input type="submit" value="Pénz feltöltése" class="Bank-utalas"></input>
        </form>
    </div>




</section>
<section id="footer">
    <div class="footer container">
        <div class="brand">


            <h1><span>Bank</span>.</h1>

        </div>
        <h2></h2>
    </div>
</section>
<script src="../src/main/resources/app.js"></script>
</body>


</html>